.title {
    text-decoration: underline;
}

.container {
    background: linear-gradient(var(--accent-2), var(--accent)) ;
}

.logo {
    max-height: 250px;
    filter: drop-shadow(5px 5px black);
}