.demo-1 {
}
.container {
    display: flex;
    justify-content: center;
    padding: 1.5em;
}

 .album_cover_image {
    box-shadow: 10px 10px white;
    border: 3px solid white;
}

 .song_details {
    margin: auto 0 ;
    display: flex;
    flex-direction: column;
    padding-left: 3em;
}

 .song_name {
    font-weight: bold;
    font-size: 5em;
    /* padding: 1.5em; */
}

.song_artist {
    font-style: italic;
    font-size: 4.5em;
    text-decoration: underline;
}

@media (max-width: 765px) {
    .container {
        flex-direction: column;
        max-width: 100vw;
    }

    .album_cover {
        margin: 0 auto;
        width: 150px;
    }

    .song_details {
        padding: 1.5em 0 0 0;
    }

    .song_name {
        font-size: 3em;
    }

    .song_artist {
        font-size: 2.5em;
    }
}