<div class="container">
    <nav class="tc pt2 pb2 bg-washed-red">
        <span *ngIf="currentSong">
            <button class="button neutral ml2 mr2" (click)="previousSong();" [disabled]="!currentSong.is_playing">Previous</button>
        </span>
        <button class="button primary ml2 mr2" routerLink="['/login']">Logout</button>
        <button class="button tertiary ml2 mr2" routerLink="['/login']">Designer</button>
        <span *ngIf="currentSong">
            <button class="button neutral ml2 mr2" (click)="nextSong()" [disabled]="!currentSong.is_playing">Next</button>
        </span>
    </nav>
    <div *ngIf="currentSong">
       <track-details></track-details>
    </div>
    <div *ngIf="!currentSong" class="tc pa4">
        <div class="f3">Have you tried <a class="pointer" href="https://www.spotify.com" target="_blank"><span class="f2 green underline ">Spotify</span></a>?</div>
        <section class="mt2 pa2 bg-white b--black b--solid w-50 center">
                SongBuddy is a tool to help visualize your current playing tracks on Spotify. For best results:
                <div class="center">
                    <ol class="pa3 tl">
                        <li>Have a Spotify account</li>
                        <li>Start playing music on Spotify</li>
                    </ol>
                </div>
        </section>
    </div>
    <footer class="v-base footer">
        <div class="center-v"><a href="https://immannino.github.io/">Tony</a> made this. The current year is {{getYear()}} 🐳</div>
        <a href="https://www.spotify.com" aria-label="Spotify music website" class="pointer">
            <img class="mw3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/1024px-Spotify_logo_without_text.svg.png" alt="spotify logo">
        </a>
    </footer>
</div>